<%- include("partials/header"); -%>
    <h1>Contact Me</h1>
    <p> <%= contactContent %> </p>
    <a href="mailto:linglynn1221@gmail.com"><i class="fas fa-envelope fa-lg" style="color: #bbbfca"></i></a>
    <a href="https://www.linkedin.com/in/hellolynnlee/"><i class="fab fa-linkedin fa-lg" style="color: #bbbfca"></i></a>
    <a href="https://github.com/LynnLee93"><i class="fab fa-github-square fa-lg" style="color: #bbbfca"></i></a>
<%- include("partials/footer"); -%>
